.App {

}

.Week {
    margin: 10px;
    padding: 0 0 20px 0;
    border: 1px solid black;
}

.WeekHeader {
    background-color: red;
    padding: 5px;
    border-bottom: 1px solid black;
}

.WeekHeader h1 {
    margin: 0;
}

.WeekDay {
    margin: 10px;
}

.WeekDay h2 {
    margin: 0;
}

.DayGrid {
    width: 100%;
    padding: 10px 0;
}

.DayGridHours {
    height: 40px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.23);
    justify-content: space-evenly;
}

.DayGridHour {
    border-right: 1px solid rgba(179, 179, 179, 0.69);
    width: 100%;
    position: relative;
}

.DayGridHour:nth-child(4n) {
    border-width: 1.5px;
    border-right-color: rgba(255, 0, 0, 0.46);
}

.DayGridHour:last-child {
    border-right: none;
}

.DayGridHourWorkday {
    background-color: rgba(204, 204, 255, 0.14);
}

.DayGridHourMarkers {
    width: 100%;
}

.DayGridHourMarker {
    position: relative;
}

.ControlPanel {
    position: sticky;
    background-color: rgba(62, 62, 117, 0.6);
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 50px;
    background-color: green;
    padding: 10px;
    border: 0;
    font-size: 24px;
}

.CategoryNameInput {
    font-size: 24px;
}
